.icon-search:before {
  content: '\e800';
}

/* '' */
.icon-phone:before {
  content: '\e801';
}

/* '' */
.icon-download:before {
  content: '\e802';
}

/* '' */
.icon-bars:before {
  content: '\e803';
}

/* '' */
.icon-user:before {
  content: '\e805';
}

/* '' */
.icon-cart:before {
  content: '\e806';
}

/* '' */
.icon-arrow-up:before {
  content: '\e807';
}

/* '' */
.icon-arrow-left:before {
  content: '\e808';
}

/* '' */
.icon-arrow-right:before {
  content: '\e809';
}

/* '' */
.icon-marker:before {
  content: '\e80a';
}

/* '' */
.icon-plitka:before {
  content: '\e80b';
}

/* '' */
.icon-instagram:before {
  content: '\e80c';
}

/* '' */
.icon-whatsapp:before {
  content: '\e80d';
}

/* '' */
.icon-telegram:before {
  content: '\e80e';
}

/* '' */
.icon-youtube:before {
  content: '\e80f';
}

/* '' */
.icon-upload:before {
  content: '\e810';
}

/* '' */
.icon-mail:before {
  content: '\e811';
}

/* '' */
.icon-angle-right:before {
  content: '\e812';
}

/* '' */
.icon-angle-left:before {
  content: '\e813';
}

/* '' */
.icon-angle-left-thin:before {
  content: '\e814';
}

/* '' */
.icon-angle-right-thin:before {
  content: '\e815';
}

/* '' */
.icon-close:before {
  content: '\e816';
}

/* '' */
.icon-add-to-cart:before {
  content: '\e817';
}

/* '' */
.icon-plus:before {
  content: '\e818';
}

/* '' */
.icon-minus:before {
  content: '\e819';
}

/* '' */
.icon-check:before {
  content: '\e81a';
}

/* '' */
.icon-clock:before {
  content: '\e835';
}

/* '' */
