@use "../helpers/media";
@use "../helpers/functions";

.social-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: functions.rem(24);

  @include media.md-up {
    font-size: functions.rem(17);
    gap: 13px;
  }

  @include media.lg-up {
    font-size: functions.rem(24);
    gap: 20px;
  }

  &__item-block {
    display: flex;
    flex-direction: row;
    font-size: inherit;
  }

  &__item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-grey-40);
    font-size: inherit;
    transition: all 0.15s ease-in;

    &:hover {
      color: var(--c-grey-70);
    }

    &--dark {
      &:hover {
        color: var(--c-grey-00);
      }
    }

    &--telegram {
      i::before {
        font-size: 0.83em;
        left: -3px;
        top: -2px;

        @include media.md-up {
          left: -2px;
          top: -1px;
        }
      }
    }
  }

  &__icon {
    font-size: inherit;

    &::before {
      font-size: inherit;
      position: relative;
      margin-right: 3px;
      margin-left: 0;

      @include media.md-up {
        top: -1px;
      }
    }
  }

  &__asterisk {
    color: var(--c-grey-60);
    font-size: functions.rem(16);
    position: relative;
    width: 0;
    top: -10px;

    @include media.md-up {
      top: -6px;
    }
  }
}
