@use '../components/headings';

.content {
  h3 {
    @extend .h3;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
  }

  ul {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}
