@use "../helpers/functions";
@use "../helpers/media";
@use "../helpers/vars";

.header {
  // position: sticky;
  top: 0;
  z-index: var(--z-top-30);
  background: var(--c-grey-10);
  padding-bottom: 5px;
  margin-bottom: 25px;

  @include media.md-up {
    margin-bottom: 40px;
  }

  &--expanded {
    @include media.md-down {
      padding-bottom: 70px;
    }
  }
}

.header__top {
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  z-index: var(--z-top-30);

  @include media.md-up {
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 20px;
  }

  @include media.lg-up {
    gap: 30px;
  }

  @include media.xl-up {
    padding-bottom: 20px;
  }
}

.header__logo {
  flex: 0 0 100px;
  margin-right: auto;

  @include media.md-up {
    flex: 0 0 160px;
  }

  @include media.xl-up {
    flex: 0 0 180px;
  }
}

.header__contacts {
  a+a {
    @include media.sm-down {
      display: none;
    }
  }
}

.header__phone-link {
  color: var(--c-accent-jucy);
  font-size: functions.rem(18);

  &:hover {
    color: var(--c-accent-jucy);
  }
}
