@use "../helpers/media";
@use "../helpers/functions";
@use "../helpers/vars";


.hero {
  color: #0c8207;
  margin-bottom: 50px;

  @include media.lg-up {
    margin-bottom: 60px;
  }
}

.hero__grid {
  display: grid;
  grid-template-rows: 400px auto auto;
  max-width: 100%;
  overflow: hidden;
  min-height: 500px;

  @include media.md-up {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px auto;
  }

  @include media.lg-up {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  &:has(> * + *) {
    gap: 10px;

    @include media.md-up {
      grid-gap: 15px;
    }

    @include media.lg-up {
      grid-gap: 15px 20px;
    }

    @include media.xl-up {
      grid-gap: 20px 30px;
    }
  }
}

.hero__img-slider {
  grid-row: 1;

  @include media.md-up {
    grid-column: 1/-1;
  }

  @include media.lg-up {
    grid-row: 1/-1;
    grid-column: 1;
  }
}

.hero__promo {
  position: relative;
  background-color: var(--c-secondary);
  border-radius: var(--b-radius-xl);
  overflow: hidden;
  aspect-ratio: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media.md-up {
    grid-row: 2;
    aspect-ratio: 1.8;
  }

  @include media.lg-up {
    grid-row: unset;
  }
}

.hero__promo-img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;

  @include media.lg-up {
    max-width: 300px;
  }

  @include media.xl-up {
    max-width: 440px;
  }
}

.video-hero {
  width: auto;
  height: 60vh;
  overflow: hidden;
  position: relative;
  padding-block: 40px;
  max-width: 1790px;
  border-radius: var(--b-radius-6xl);
  margin-inline: 10px;

  @include media.md-up {
    padding-block: 80px;
    height: 65vh;
  }

  @include media.breakpoint-up(1810px) {
    margin-inline: auto;
  }
}

.video-hero__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--z-middle-bottom);
}

.video-hero__container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &::before {
    content: "";
    position: absolute;
    z-index: var(--z-middle);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
  }
}

.video-hero__title {
  position: relative;
  z-index: var(--z-middle-top);
  color: var(--c-grey-00);
  font-size: functions.rem(50);
  font-weight: 700;
  font-family: var(--f-headings);
  line-height: 1.1;
  text-align: right;

  @include media.md-up {
    line-height: 1.2;
    font-size: functions.rem(80);
  }

  span {
    display: block;
    font-size: functions.rem(18);
    font-weight: 300;

    @include media.sm-down {
      margin-top: 5px;
    }

    @include media.md-up {
      font-size: functions.rem(28);
    }
  }
}

// start

.hero {
  // border: 1px solid #000;
  display: flex;
  justify-content: space-around;
}

.hero__left {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50px;
}

.hero__right {
  max-width: 50%;
  position: relative;
  right: 50px;
  bottom: 50px;
}

.hero__img {
  max-width: 90%;
}

.hero__title {
  color: rgb(247, 191, 11);
  font-size: 60px;
  // max-width: 662px;
  max-width: 430px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  margin-bottom: 50px;
  text-align: left;
}

.hero__description {
  color: rgb(134, 134, 134);
  font-family: Wix Madefor Display;
  font-size: 20px;
  font-weight: 550;
  max-width: 556px;
  text-align: left;
  margin-bottom: 20px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

@include media.breakpoint-down(vars.$lg-break - 1) {
  .hero {
    .hero__left {
      .hero__title {
        font-size: 50px;
        margin-bottom: 40px;
      }

      .hero__description {
        font-size: 20px;
      }
    }

    .hero__right {
      .hero__img {
        max-width: 80%;
        position: relative;
        left: 100px;
      }
    }
  }
}


@include media.breakpoint-down(vars.$md-break - 1) {
  .hero {
    .hero__buttons {
      .hero__button {
        padding: 8px 20px;
        font-size: 12px;
      }
    }

    .hero__left {
      .hero__title {
        line-height: 37px;
        font-size: 35px;
        margin-bottom: 15px;
        max-width: 250px;
      }

      .hero__description {
        font-size: 16px;
      }
    }

    .hero__right {
      .hero__img {
        top: 50px;
      }
    }
  }
}

@include media.breakpoint-down(vars.$sm-break - 1) {
  .hero {
    .hero__buttons {
      flex-direction: column;
      gap: 10px;
      align-items: start;

      .hero__button {
        font-size: 12px;
        width: 80%;
      }
    }

    .hero__left {
            left: 0;
      .hero__title {
        line-height: 30px;
        font-size: 35px;
        margin-bottom: 15px;
        max-width: 250px;
      }

      .hero__description {
        font-size: 14px;
      }
    }

    .hero__right {
      right: 100px;
      .hero__img {
        max-width: 100%;
      }
    }
  }
}

@include media.breakpoint-down(vars.$sm-break - 76) {
  .hero {
    .hero__buttons {
      .hero__button {
        width: 70%;
      }
    }

    .hero__left {
      .hero__title {
        line-height: 25px;
        font-size: 26px;
        margin-bottom: 15px;
        max-width: 250px;
      }

      .hero__description {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .hero__right {
      .hero__img {
        top: 40px;
      }
    }
  }
}

@include media.breakpoint-down(vars.$sm-break - 156) {
  .hero {
    .hero__buttons {
      flex-direction: row;
      width: 320px;
      gap: 20px;
    }

    .hero__left {
      left: 0px;

      .hero__title {
        line-height: 25px;
        font-size: 24px;
      }

      .hero__description {
        font-size: 12px;
      }
    }

    .hero__right {
      .hero__img {
        top: 40px;
      }
    }
  }
}