@use "../helpers/functions";
@use "../helpers/media";
@use "../helpers/vars";

.summer-programs {
    margin-bottom: 40px;

    &__container {
        max-width: 1360px;
        margin-left: auto;
        margin-right: auto;
    }
}

.summer-programs__wrapper {
    background: #FFF;
    padding: 50px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    z-index: -2;
}

.summer-programs__wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;

    background: linear-gradient(0deg,
            rgba(255, 61, 31, 0.564) 0%,
            rgba(240, 29, 29, 0.39) 30%,
            rgba(0, 147, 252, 0) 100%);
    z-index: -1;
}

.summer-programs__title {
    color: rgb(233, 86, 20);
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 30px;
}

.summer-programs__card {
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 10px 0 20px rgba(0, 0, 0, .2);
}

.summer-programs__img {
    max-width: 100%;
    margin-right: 30px;
}

.img--left {
    border-radius: 20px 0 0 20px;
}

.img--right {
    border-radius: 0 20px 20px 0;
    position: relative;
    left: 40px;
}

.summer-programs__info {
    padding-top: 20px;
}

.summer-programs__subtitle {
    color: rgb(71, 71, 71);
    font-size: 24px;
    font-weight: 700;
    line-height: -1px;
    margin-bottom: 16px;
}

.summer-programs__dates {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.summer-programs__date {
    color: rgb(233, 86, 20);
    font-weight: 700;
    border-radius: 20px;
    background: rgb(255, 246, 241);
    padding: 8px 18px;
}

.summer-programs__description {
    color: rgb(134, 134, 134);
    font-size: 18px;
    font-weight: 600;
    line-height: -1px;
}

.info--left {
    position: relative;
    left: 30px;
}


// $xl-break - 1360px

@include media.breakpoint-down(vars.$xl-break - 100) {
    .summer-programs {
        &__container {
            max-width: 700px;
        }

        &__wrapper {
            padding: 30px;
        }

        &__cards {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__subtitle {
            position: relative;
            top: 50px;
            text-align: center;
        }

        &__description {
            text-align: center;
        }

        &__dates {
            position: relative;
            bottom: 50px;
            left: 30px;
        }

        &__card {
            flex-direction: column;
            max-width: 450px;
            padding-bottom: 40px;
        }

        &__title {
            text-align: center;
            font-size: 56px;
        }

        &__img {
            width: 100%;
            border-radius: 16px 16px 0 0;
        }
    }

    .img--right {
        top: 40px;
        left: 0px;
        border-radius: 0px 0px 16px 16px;
    }

    .subtitle--second {
        text-align: left;
    }

    .description--second {
        position: relative;
        right: 30px;
    }

    .date--second {
        position: relative;
        right: 20px;
    }

}

// $sm-break - 576px

@include media.breakpoint-down(vars.$sm-break - 1) {
    .summer-programs {
        &__title {
            position: relative;
            left: 30px;
            line-height: 60px;
            font-size: 60px;
            text-align: left;
        }
    }
}

@include media.breakpoint-down(vars.$sm-break - 76) {
    .summer-programs {
        &__subtitle {
            font-size: 20px;
        }

        &__description {
            font-size: 14px;
        }

        &__dates {
            left: 40px;
        }

        &__date {
            padding: 6px 16px;
            font-size: 14px;
        }
    }

    .date--second {
        right: 38px;
    }

    .subtitle--second {
        position: relative;
        left: 18px;
    }
}


// $xs-break - 375px

@include media.breakpoint-down(vars.$xs-break + 60) {
    .summer-programs {
        &__dates {
            left: 20px;
        }
    }

    .date--second {
        right: 24px;
    }

    .subtitle--second {
        left: 0px;
    }
}

@include media.breakpoint-down(vars.$xs-break + 35) {
    .summer-programs {
        &__title {
            font-size: 45px;
            left: 0px;
            line-height: 45px;
        }

        &__dates {
            left: 20px;
        }

        &__date {
            font-size: 12px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__description {
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .date--second {
        right: 30px;
    }

    .subtitle--second {
        left: -18px;
    }
}

@include media.breakpoint-down(vars.$xs-break) {
    .summer-programs {
        &__dates {
            left: 8px;
        }
    }
}