@use "../helpers/functions";
@use "../helpers/media";
@use "../helpers/vars";


.summer-card {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.summer-card__date {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 18px;
    background: rgb(239, 239, 255);
    font-weight: 700;
    color: rgb(90, 84, 254);
    border-radius: var(--b-radius-xxl);
}

.summer-card__title {
    font-size: 60px;
    color: rgb(71, 71, 71);
    font-weight: 700;
    display: inline;
    margin-bottom: 70px;
}

.summer-card__description {
    position: relative;
    top: 80px;
    color: rgb(134, 134, 134);
    font-size: 20px;
    font-weight: 600;
}

.summer-card__button {
    margin-top: 100px;
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    padding: 18px 25px;

    inline-size: 100%;
    border-radius: var(  --b-radius-md);
    font-size: 20px;
}

.summer-card__button:hover {
    background-color: #333;
}

.summer-card__image {
    max-width: 100%;
    position: absolute;
    right: 50px;
    top: 0px;
}


@include media.breakpoint-down(vars.$sm-break - 1) {
    .summer-card__title {
        font-size: 50px;
    }

    .summer-card__description {
        top: 30px;
        font-size: 16px;
    }

    .summer-card__button {
        margin-top: 50px;
    }

    .summer-card__image {
        right: 15px;
        max-width: 30%;
    }
}

@include media.breakpoint-down(vars.$sm-break - 90) {
    .summer-card{
        padding: 15px 5px;
    }
    .summer-card__title {
        font-size: 32px;
        position: relative;
        top: 3px;
    }

    .summer-card__description {
        top: 5px;
        font-size: 14px;
    }

    .summer-card__button {
        margin-top: 16px;
        padding: 8px;
        font-size: 16px;
    }

    .summer-card__image {
        display: none;
    }
    .summer-card__date{
        position: relative;
        right: 2px;
        top: 3px;
    }
}